.movies h3 {
  font-family: 'Noto Serif Gratha', serif;
  font-size: 22px;
  margin-left: 2em;
}

.presentation-list {
  display: flex;
  gap: 10px;
}

.presentation-list article {
  background-size: cover;
  height: 420px;
}

.presentation-list article:hover {
  scale: 1.1;
}

.presentation-list strong {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 98%;
  width: 292px;
  color: #fff;
  cursor: pointer;
}