*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #040814c4;
}

*::-webkit-scrollbar-thumb {
  background-color: #1b3168b2;
}

.movies h3 {
  font-size: 18px;
  margin-left: 2em;
  color: #f8f8f9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.presentation-list {
  display: flex;
  gap: 8px;
}

.presentation-list article {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  height: 420px;
  width: 292px;
  margin-bottom: 1em;
  border-radius: 15px;
  cursor: pointer; 
}

.presentation-list article:hover {
  scale: 1.04;
}

.info-basic {
  width: 292px;
  padding: .2em;
  background: #101c3b78;
  border-radius: 10px;
}

.info-basic p {
  margin-left: 1em;
}

.info-basic svg{
  color: #0b9ab7;
}
