*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #040814c4;
}

*::-webkit-scrollbar-thumb {
  background-color: #1b3168b2;
}

.movies h3 {
  font-size: 18px;
  margin-left: 2em;
  color: #f8f8f9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

