.presentation-list {
  display: flex;
  gap: 10px;
}

.presentation-list a {
  text-decoration: none;
  
}

.presentation-list article {
  background-size: cover;
  width: 272px;
  height: 420px;
}

.presentation-list article:hover {
  scale: 1.1;
}

.presentation-list strong {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 98%;
  color: #fff;
}