.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.contact img {
  width: 600px;
  transition: .5s;
  cursor: pointer;
}

.contact img:hover {
  transition: .5s;
  scale: 1.1;
}