.icons-header-catalog{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2em 1em 2em;
  height: 70px;
}

.icons-header-catalog a {
  text-decoration: none;
  color: #fff;
}

.header-catalog {
  background: #101c3b78;
  box-shadow: 0 7px 10px #000000;
}

.header-catalog svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-catalog svg:hover {
  color: rgba(255, 255, 255, 0.781);
}

.header-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-end form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 250px;
  border: 1px solid #fff;
  border-radius: 50px;
}

.header-end form input {
  background: transparent;
  border: none;
  color: #fff;
  margin-left: 20px;
  outline: none;
}

.header-end form button {
  background: transparent;
  border: none;
  color: #fff;
  margin-right: 10px;
  margin-top: 0;
}
