.icons-header-catalog{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2em 1em 2em;
  height: 70px;
}

.header-catalog svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 250px;
  border: 1px solid #fff;
  border-radius: 50px;
}

.search input {
  background: transparent;
  border: none;
  color: #fff;
  margin-left: 20px;
  outline: none;
}

.search svg {
  margin-right: 10px;
  margin-top: 0;
}
