.banner-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 60vh;
  padding: 1em;
  background-position: center;
  background-size: cover;
}

.banner-presentation-infos {
  background-color: #101c3b78;
  padding: 10px;
  width: 35%;
  border-radius: 20px;
}

.banner-presentation-title {
  font-size: 2em;
}

.banner-presentation-description{
  font-size: 1em;
  text-align: justify;
}

.banner-presentation-stars svg {
  color: #0b9ab7;
}

.banner-presentation-btn {
  margin-top: 1em;
  font-size: 16px;
  width: 120px;
  height: 46px;
  border-radius: 15px;
  border: none;
  background-color: #1b3168bc;
  color: #fff;
  cursor: pointer;
  transition: linear .2s;
}

.banner-presentation-btn:hover {
  transition: linear .2s;
  background-color: #081332c6;
}
