.access-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.access-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.access-title a{
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

.access-title a:hover {
  text-shadow: 2px 5px 6px #000;
  transition: .2s;
}

.access-title h1 {
  text-align: center;
  font-family:'Cinzel', serif;
  font-size: 130px;
}

.access-form {
  display: grid;
  height: 100vh;
  border-radius: 20px 0 0 20px;
  background: #1B3168;
}
